h2{
  text-align: center;
  font-weight: bold;
  border-top: 2px dotted grey;
  border-bottom: 2px dotted grey;
  border-spacing: 15px;
}

h3{
  color: #e60000;
  border-bottom: 4px dotted grey;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body{
  width: 900px;
  margin: 0 auto;
  font-family: "Raleway";
}

.header img{
  width: 675px;
}

.header {
  color: grey;
  margin: auto;
  width: 75%;
}

.header p{
  text-align: center;
}

.featured-dish{
  background-color: lightgrey;
  border: 1px dotted lightgrey;
  padding-left: 20px;
}


.footnotes img{
  float: right;
}

.topping h3{
  border-bottom: none;
}

.toppings p{
  color: grey;
}

.note p{
  color: grey;
}

.footnotes p{
  color: grey;
}

span{
  font-weight: bold;
  color: black;
}
